<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="appender.file.threshold"
                    source="logback.appender.file.threshold"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36}.%M - %msg LOGID=%X{LOGID}%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <springProfile name="online,test">
                <level>${appender.file.threshold:-INFO}</level>
            </springProfile>
            <springProfile name="gray,dev,beta">
                <level>${appender.file.threshold:-DEBUG}</level>
            </springProfile>
        </filter>
        <file>./logs/server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/server.log-%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg LOGID=%X{LOGID}%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
